<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="cn.gzy"/>
    <!--    <mvc:annotation-driven/>-->
    <mvc:resources mapping="/statics/**" location="/statics/"/>
    <mvc:resources mapping="/guanwang/**" location="/guanwang/"/>
    <mvc:resources mapping="/login.html" location="/login"/>
    <mvc:resources mapping="/index1.html" location="/index1.html"/>

    <!-- 在Spring MVC配置文件中配置Jackson -->
    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
        <!-- 配置Jackson属性 -->
        <property name="dateFormat">
            <bean class="java.text.SimpleDateFormat">
                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
            </bean>
        </property>
        <!-- 其他配置... -->
    </bean>
    <!--jackson的消息转换器-->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                    <property name="objectMapper" ref="objectMapper"/>
                </bean>
            </list>
        </property>
    </bean>
    <!--  配置servlet3.0的文件上传  -->
    <bean class="org.springframework.web.multipart.support.StandardServletMultipartResolver" id="multipartResolver">
    </bean>
    <!--    运行时机的问题，由于扫描是在mvc配置文件中，aop的植入是扫z描完成后进行，才可以给所有满足表达式的连接点植入-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>



</beans>