<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/statics/css/global.css">
    <link rel="stylesheet" href="/statics/css/index.css">
    <link rel="stylesheet" href="/statics/css/tab.css">
    <link rel="stylesheet" href="/statics/css/myPagination.css">
    <style>
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .page-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        #app {
            flex-grow: 1;
        }

        .footer {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
            width: 100%;
            position: relative;
        }

        .footer-line {
            color: #888;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <nav class="nav-bar-holder" id="nav">
            <div class="nav-bar" id="nav-bar">
                <div class="logo-box">
                    <a href="http://localhost:8080/index" class="blog-title ta-c">
                        <img style="vertical-align: top;" alt="logo" src="/statics/images/logo.png" /></a>
                </div>
                <div class="nb-a-holder" id="home">
                    <a id="active" class="nb-a ta-c" href="index">首页</a>
                </div>
                <div class="nb-a-holder">
                    <a class="nb-a ta-c" href="/category.html">分类</a>
                </div>
                <div class="nb-a-holder">
                    <a :href="'/personInfo/' + (personInfo.userId || '')" class="nb-a ta-c">个人信息</a>
                </div>
                <div class="nb-a-holder-last">
                    <div class="nb-a-holder-small">
                        <a class="a-login" @click="logout" style="cursor: pointer;">注销</a>
                    </div>
                </div>
            </div>
        </nav>
        <div id="app">
            <el-container class="big-container" id="particles-js">
                <div class="article">
                    <div id="article-holder" class="left-holder">
                        <div id="article-holder" style="width: 100%; float: left" v-infinite-scroll="load" gutter="20">
                            <div v-if="blogs.length">
                                <div class="article-box" span="6" :offset="2" v-for="(blog, index) in blogs"
                                    :key="blog.id">
                                    <div class="ab-content">
                                        <a class="article-img-box" :href="'/blog/' + blog.blogId">
                                            <img class="lazy-image article-img" data-src="" alt=""
                                                src="/statics/images/article.jpg">
                                        </a>
                                        <div class="article-title">
                                            <a :href="'/blog/' + blog.blogId">
                                                {{ blog.title || '暂无标题' }}
                                            </a>
                                        </div>
                                        <div class="article-detail-box c-666">
                                            <a :href="'/blog/' + blog.blogId">
                                                {{ blog.content }}
                                            </a>
                                        </div>
                                        <span class="article-tail-box">
                                            <i class="fl"
                                                style="background-image: url('/statics/images/looks.svg')"></i>
                                            <span class="read-number c-999 fl">{{ blog.readed }}</span>
                                            <span class="comment-number c-999 fl"
                                                v-if="blog.typeId === 1">&nbsp;&nbsp;娱乐</span>
                                            <span class="comment-number c-999 fl"
                                                v-else-if="blog.typeId === 2">&nbsp;&nbsp;体育</span>
                                            <span class="comment-number c-999 fl"
                                                v-else-if="blog.typeId === 3">&nbsp;&nbsp;文化</span>
                                            <span class="comment-number c-999 fl" v-else>&nbsp;&nbsp;正能量</span>
                                            <span class="article-date c-999">{{ blog.createDate | dateFormate }}</span>
                                            <span class="article-author one-line-overflow c-999">{{ blog.authorName
                                                }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div v-else>没有找到相关内容。</div>
                        </div>
                        <el-pagination class="pagination fl" id="pagination" v-if="pageParam.totalSize > 0"
                            :current-page="pageParam.current" :page-size="pageParam.size" :total="pageParam.totalNumber"
                            @current-change="handlePageChange" layout="total, prev, pager, next, jumper">
                        </el-pagination>
                    </div>
                    <div class="right-holder">
                        <div class="column-container">
                            <ul class="column_box" id="like-box">
                                <li class="column-title">
                                    <span class="at-sort b-b-ece fl"><a
                                            class="at-sort-comment-a c-666 fl">信息栏</a></span>
                                </li>
                                <li class="person-img-li">
                                    <a :href="'/personInfo/' + (personInfo.userId || '')">
                                        <el-image id="person-img" style="width: 80px; height: 80px;"
                                            :src="personInfo.avatar"></el-image>
                                    </a>
                                </li>
                                <li class="person-intro-detail gradient-text">
                                    <h1>{{personInfo.nickname }}</h1>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>网站简介：OMT博客</h3>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>所在地：四川</h3>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>编写时间：2024年11月</h3>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>网站环境：Mysql + Vue + SSM</h3>
                                </li>
                            </ul>
                        </div>

                        <div class="column-container">
                            <ul class="column_box" id="like-box">
                                <li class="column-title">
                                    <span class=" at-sort b-b-ece fl">

                                        <a class=" choose c-666 fl" :class="{ active: activeTab === 'followers' }"
                                            @click="activeTab = 'followers'">
                                            关注
                                        </a>

                                        <a class="choose c-666 fl" :class="{ active: activeTab === 'followed' }"
                                            @click="activeTab = 'followed'">
                                            粉丝
                                        </a>
                                    </span>
                                </li>
                            </ul>

                            <div>

                                <div v-if="activeTab === 'followers'" class="follow_box">
                                    <div class="column_box follow_box_box" id="like-box" v-for="follow in followers"
                                        :key="follow.userId" @click="userDetail(follow.userId)">
                                        <li class="follow_li">
                                            <el-image id="person-img" style="width: 48px; height: 48px;"
                                                :src="follow.avatar"></el-image>
                                            <i v-if="follow.isMutual == 1" class="el-icon-connection"
                                                style="position: relative; left: -14px;"></i>
                                        </li>
                                        <li class="person-intro-detail gradient-text" style="text-align: center;">
                                            <div>{{ follow.nickname }}</div>
                                        </li>
                                    </div>
                                    <div class="more" style=" position: absolute;
                                top: 56%;
                                left: 80%;">
                                        <el-button type="text" @click="followerMore" :loading="isLoading"
                                            class="more-btn">
                                            更多...
                                        </el-button>
                                    </div>
                                </div>

                                <!-- 使用 v-if 判断当前是否为“粉丝”选项卡 -->
                                <div v-if="activeTab === 'followed'" class="follow_box">
                                    <div class="column_box follow_box_box" id="like-box" v-for="follow in followed"
                                        :key="follow.userId" @click="userDetail(follow.userId)">
                                        <li class="follow_li">
                                            <el-image id="person-img" style="width: 48px; height: 48px;"
                                                :src="follow.avatar"></el-image>
                                            <i v-if="follow.isMutual == 1" class="el-icon-connection"
                                                style="position: relative; left: -14px;"></i>
                                        </li>
                                        <li class="person-intro-detail gradient-text" style="text-align: center;">
                                            <div>{{ follow.nickname }}</div>
                                        </li>
                                    </div>

                                    <div class="more" style="  position: absolute;
                                top: 56%;
                                left: 80%;">
                                        <el-button type="text" @click="followedMore" :loading="isLoading"
                                            class="more-btn">
                                            更多...
                                        </el-button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column-container">
                            <ul class="column_box" id="like-box">
                                <li class="column-title">
                                    <span class="at-sort b-b-ece fl">
                                        <a class="at-sort-comment-a c-666 fl">点击排行</a>
                                    </span>
                                </li>
                            </ul>
                            <div v-for="(blog, index) in sortedBlogs" :key="blog.id">
                                <div class="article-box" style="width: 345px;overflow: hidden;">
                                    <div class="ab-content" style="width: 345px;overflow: hidden;">
                                        <div class="article-title">
                                            <a style="font-size: 16px; width: 84% !important;">{{ blog.title || '暂无标题'
                                                }}</a>
                                        </div>
                                        <span class="article-tail-box">
                                            <i class="fl"
                                                style="background-image: url('/statics/images/looks.svg')"></i>
                                            <span class="read-number c-999 fl">{{ blog.readed }}</span>
                                            <span class="article-author one-line-overflow c-999"
                                                style="margin-right: 50%;">{{ blog.authorName
                                                }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </el-container>
            <div class="menu-box" id="menu-box">
                <div class="menu-button" id="menu-button">
                    <div class="line-box">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div>
                    <ul class="menu-list">
                        <li><a target="_blank" @click="toggleStatus(0)"><span>🧧搜索博客</span></a></li>
                        <li><a target="_blank" @click="toggleStatus(1)"><span>📧发布博客</span></a></li>

                    </ul>
                </div>
            </div>


            <el-dialog :visible.sync="dialogVisible[0]" width="30%">
                <p v-show="showError" style="color: red;">请输入关键字</p>
                <div id="search" style="display: block;">
                    <span class="search-s" style="display: flex; align-items: center;">
                        <el-input class="search-input" placeholder="请输入关键字" v-model="key" @keyup.enter="search">
                            <template #append>
                                <a class="search-icon fl" @click="search" href="javascript:void(0);">
                                </a>
                            </template>
                        </el-input>
                    </span>
                </div>
            </el-dialog>


            <el-dialog :visible.sync="dialogVisible[1]" width="30%">
                <el-form ref="newBlog" :model="newBlog" label-width="160px" :rules="newBlogRules">
                    <el-form-item label="标题" prop="title" disabled>
                        <el-input v-model="newBlog.title" placeholder="请输入标题"></el-input>
                    </el-form-item>
                    <el-form-item label="类型" prop="typeId">
                        <el-select v-model="newBlog.typeId" placeholder="请选择博客类型">
                            <el-option v-for="tag in tags" :key="tag.blogTypeId" :label="tag.typeName"
                                :value="tag.blogTypeId"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="正文" prop="content">
                        <el-input v-model="newBlog.content" minlength="10" type="textarea"
                            placeholder="请输入正文"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmitNew('newBlog')">发布</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </div>


        <footer class="footer">
            <div class="footer-line">Powered By Cross Fire • © 2024</div>
        </footer>

    </div>

    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.1.4/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="/statics/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/statics/js/pace.min.js"></script>
    <script src="/statics/js/request.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    showError: false,
                    topClicks: [],
                    form: { account: '', password: '', checkPassword: '' },
                    newBlogRules: {
                        title: [
                            { required: true, message: '请输入博客标题', trigger: 'blur' },
                            { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
                        ],
                        content: [
                            { required: true, message: '请输入正文', trigger: 'blur' },
                            { min: 10, max: 20000, message: '正文至少100字', trigger: 'blur' }
                        ],
                        typeId: [
                            { required: true, message: '请选择类型', trigger: 'blur' }
                        ],
                        seach: {
                            required: true, message: '请输入内容', trigger: 'blur'
                        }
                    },
                    personInfo: { name: '', avatar: '/statics/images/18908.png' },
                    newBlog: { title: '', content: '', typeId: null },
                    blogs: [],
                    pageParam: {
                        current: 1,
                        size: 5,
                        totalSize: 0
                    },
                    tags: [],
                    activeTab: 'followers',
                    followers: [],
                    followed: [],
                    activeIndex: '0',
                    key: '',
                    dialogVisible: [false, false],
                    drawer: false
                };
            },

            created() {
                this.load();
                this.initType();
                this.initUser();
                this.initFollowers();
                this.initFolloweds();
                request.post('/followInfo', (res) => {
                    this.follow.userId = res.userId;
                });
            },
            methods: {

                handlePageChange(page) {
                    this.pageParam.current = page;
                    this.load();
                },

                onSubmitNew(form) {
                    this.$refs[form].validate((valid) => {
                        if (valid) {
                            this.newBlog.author = this.personInfo.userId;
                            this.newBlog.readed = 0;
                            request.post("/addBlog", this.newBlog, (res) => {
                                if (res) {
                                    this.$message("发布成功");
                                    this.toggleStatus(1);
                                }
                            });
                        }
                    });
                },
                load() {
                    const data = {
                        typeId: this.activeIndex === '0' ? undefined : this.activeIndex,
                        key: this.key.trim() || undefined
                    };
                    console.log('Loading blogs with params:', this.pageParam, data);
                    this.initBlog(this.pageParam, data);
                },
                async initBlog(params, data) {
                    const url = '/blogs';
                    await request.post(url, data, params, (res) => {
                        if (res && res.list) {
                            this.blogs = res.list;
                            this.pageParam.totalSize = res.totalSize;
                            console.log('Total Size:', res.totalNumber);
                        }
                    });
                },

                async initType() {
                    await request.post("/types", (res) => { this.tags = res; });
                },

                async initUser() {
                    await request.post("/personalInfomation", (res) => {
                        this.personInfo = res;
                    });
                },

                async initFollowers() {
                    await request.post("/followers", (res) => {
                        this.followers = res;
                    });
                },

                async initFolloweds() {
                    await request.post("/followeds", (res) => {
                        this.followed = res;
                    });
                },

                followerMore() {
                    window.location = "/users/followers";
                },

                followedMore() {
                    window.location = "/users/followed";
                },

                userDetail(id) {
                    console.log(id);
                    window.location = "/personInfo/" + id;
                },

                toPersonInfo() {
                    if (this.personInfo.userId) {
                        window.location = '/personInfo/' + this.personInfo.userId;
                    } else {
                        console.error('User ID not available!');
                    }
                },
                toggleStatus(status) {
                    console.log(status);
                    console.log(!this.dialogVisible);
                    this.$set(this.dialogVisible, status, !this.dialogVisible[status]);
                },

                search() {
                    if (this.key.trim() === '') {
                        this.showError = true;
                        setTimeout(() => {
                            this.showError = false;
                        }, 2000);
                        return;
                    }

                    this.showError = false;
                    this.pageParam.current = 1;
                    this.blogs = [];
                    this.load();
                    this.dialogVisible[0] = false;
                },


                blogDetail(id) {
                    window.location = "/blog/" + id;
                }
            },

            computed: {

                sortedBlogs() {
                    if (!this.blogs || this.blogs.length === 0) {
                        return [];
                    }
                    return this.blogs.sort((a, b) => b.readed - a.readed);
                }
            },

            filters: {

                dateFormate(date) {
                    return date.substring(0, 10);
                }
            }
        });
    </script>

    <script>
        new Vue({
            el: 'nav',
            data() {
                return {
                    personInfo: { userId: '' },
                    key: '',
                };
            },
            created() {
                this.initUser();
            },
            methods: {
                logout() {
                    window.sessionStorage.removeItem('token')
                    //document.cookie = `token=${res.token}; expires=${ data.getDate() -10 }`
                    let date = new Date()
                    date.setDate(date.getDate() - 1)
                    document.cookie = `token=""; expires=${date.toUTCString()}`
                    window.location = "/login"
                },
                async initUser() {
                    await request.post("/personalInfomation", (res) => {
                        this.personInfo = res;
                    });
                },
            }
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuBox = document.querySelector('.menu-box');
            const menuButton = document.querySelector('.menu-button');

            menuButton.addEventListener('click', function () {
                menuBox.classList.toggle('active');
            });

            let isDragging = false;
            let startX, startY, initialX, initialY;

            menuBox.addEventListener('mousedown', (e) => {
                isDragging = true;
                startX = e.clientX;
                startY = e.clientY;
                initialX = menuBox.offsetLeft;
                initialY = menuBox.offsetTop;
                menuBox.style.cursor = 'grabbing';

                const onMouseMove = (e) => {
                    if (isDragging) {
                        const dx = e.clientX - startX;
                        const dy = e.clientY - startY;
                        menuBox.style.left = `${initialX + dx}px`;
                        menuBox.style.top = `${initialY + dy}px`;
                    }
                };

                const onMouseUp = () => {
                    isDragging = false;
                    menuBox.style.cursor = 'grab';
                    document.removeEventListener('mousemove', onMouseMove);
                    document.removeEventListener('mouseup', onMouseUp);
                };

                document.addEventListener('mousemove', onMouseMove);
                document.addEventListener('mouseup', onMouseUp);
            });
        });

    </script>

</body>

</html>