<!--
 * @Author: error: error: git config user.name & please set dead value or install git && error: git config user.email & please set dead value or install git & please set dead value or install git
 * @Date: 2024-10-29 15:59:50
 * @LastEditors: error: error: git config user.name & please set dead value or install git && error: git config user.email & please set dead value or install git & please set dead value or install git
 * @LastEditTime: 2024-11-10 11:49:20
 * @FilePath: \WebContentc:\JAVAprogram\innerExpress2.0\WebContent\statics\html\index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/statics/css/global.css">
    <link rel="stylesheet" href="/statics/css/indexs.css">
    <link rel="stylesheet" href="/statics/css/tab.css">
    <link rel="stylesheet" href="/statics/css/myPagination.css">
    <style>
        /* 使页面高度为100%，容器使用flex布局 */
        body,
        html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .page-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        #app {
            flex-grow: 1;
            /* 使内容部分占据剩余空间 */
        }

        .footer {
            background-color: #f1f1f1;
            padding: 20px;
            text-align: center;
            width: 100%;
            position: relative;
            /* 默认位置，保持在底部 */
        }

        .footer-line {
            color: #888;
        }
    </style>
</head>

<body>

    <div class="page-wrapper">
        <nav class="nav-bar-holder" id="nav">
            <div class="nav-bar" id="nav-bar">
                <div class="logo-box">
                    <a href="http://localhost:8080/index" class="blog-title ta-c"><img style="vertical-align: top;" alt="logo"
                            src="/statics/images/logo.png" /></a>
                </div>
                <div class="nb-a-holder" id="home"><a id="active" class="nb-a ta-c" href="index">首页</a></div>
                <div class="nb-a-holder"><a class="nb-a ta-c" href="/statics/html/category.html">分类</a></div>
                <div class="nb-a-holder">
                    <a :href="'/personInfo/' + (personInfo.userId || '')" class="nb-a ta-c">个人信息</a>
                </div>

                <div class="nb-a-holder-last">
                    <div class="nb-a-holder-small">
                        <a class="a-login" @click="logout" style="cursor: pointer;">注销</a>
                    </div>
                </div>

            </div>
        </nav>

        <div id="app">




            <el-container class="big-container" id="particles-js">
                <div class="article">
                    <div id="article-holder" class="left-holder">
                        <div id="article-holder" style="width: 100%; float: left" v-infinite-scroll="load" gutter="20">
                            <div v-if="blogs.length">
                                <div class="article-box" span="6" :offset="2" v-for="(blog, index) in blogs"
                                    :key="blog.id">
                                    <div class="ab-content">
                                        <a class="article-img-box" :href="'/blog/' + blog.blogId">
                                            <img class="lazy-image article-img" data-src="" alt=""
                                                src="/statics/images/article.jpg">
                                        </a>
                                        <div class="article-title">
                                            <a>{{ blog.title || '暂无标题' }}</a>
                                        </div>
                                        <div class="article-detail-box c-666">
                                            {{ blog.content }}
                                        </div>
                                        <span class="article-tail-box">
                                            <i class="fl"
                                                style="background-image: url('/statics/images/looks.svg')"></i>
                                            <span class="read-number c-999 fl">{{ blog.readed }}</span>
                                            <span class="comment-number c-999 fl"
                                                v-if="blog.typeId === 1">&nbsp;&nbsp;娱乐</span>
                                            <span class="comment-number c-999 fl"
                                                v-else-if="blog.typeId === 2">&nbsp;&nbsp;体育</span>
                                            <span class="comment-number c-999 fl"
                                                v-else-if="blog.typeId === 3">&nbsp;&nbsp;文化</span>
                                            <span class="comment-number c-999 fl" v-else>&nbsp;&nbsp;正能量</span>
                                            <span class="article-date c-999">{{ blog.createDate | dateFormate }}</span>
                                            <span class="article-author one-line-overflow c-999">{{ blog.authorName
                                                }}</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div v-else>没有找到相关内容。</div>
                        </div>

                        <el-pagination class="pagination fl" id="pagination" v-if="pageParam.totalSize > 0"
                            :current-page="pageParam.current" :page-size="pageParam.size" :total="pageParam.totalNumber"
                            @current-change="handlePageChange" layout="total, prev, pager, next, jumper">
                        </el-pagination>
                    </div>
                    <div class="right-holder">
                        <!-- 个人介绍和其他内容 -->
                        <div class="column-container">
                            <ul class="column_box" id="like-box">
                                <li class="column-title">
                                    <span class="at-sort b-b-ece fl"><a
                                            class="at-sort-comment-a c-666 fl">个人介绍</a></span>
                                </li>
                                <li class="person-img-li">
                                    <a :href="'/personInfo/' + (personInfo.userId || '')">
                                        <el-image id="person-img" style="width: 80px; height: 80px;"
                                            :src="personInfo.avatar"></el-image>
                                    </a>
                                </li>
                                <li class="person-intro-detail gradient-text">
                                    <h1>{{personInfo.nickname }}</h1>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>网站简介：。。。。。。</h3>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>所在地：四川</h3>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>编程</h3>
                                </li>
                                <li class="person-intro-detail">
                                    <h3>网站环境：Docker + Go + Mysql + Vue</h3>
                                </li>
                            </ul>
                        </div>

                        <div class="column-container">
                            <ul class="column_box" id="like-box">
                                <li class="column-title">
                                    <span class=" at-sort b-b-ece fl">
                                        <!-- 关注 -->
                                        <a class=" choose c-666 fl" :class="{ active: activeTab === 'followers' }"
                                            @click="activeTab = 'followers'">
                                            关注
                                        </a>
                                        <!-- 粉丝 -->
                                        <a class="choose c-666 fl" :class="{ active: activeTab === 'followed' }"
                                            @click="activeTab = 'followed'">
                                            粉丝
                                        </a>
                                    </span>
                                </li>
                            </ul>

                            <div>
                                <!-- 使用 v-if 判断当前是否为“关注”选项卡 -->
                                <div v-if="activeTab === 'followers'" class="follow_box">
                                    <div class="column_box follow_box_box" id="like-box" v-for="follow in followers"
                                        :key="follow.userId" @click="userDetail(follow.userId)">
                                        <li class="follow_li">
                                            <el-image id="person-img" style="width: 48px; height: 48px;"
                                                :src="follow.avatar"></el-image>
                                            <i v-if="follow.isMutual == 1" class="el-icon-connection"
                                                style="position: relative; left: -14px;"></i>
                                        </li>
                                        <li class="person-intro-detail gradient-text" style="text-align: center;">
                                            <div>{{ follow.nickname }}</div>
                                        </li>
                                    </div>
                                    <div class="more" style=" position: absolute;
                                top: 56%;
                                left: 80%;">
                                        <el-button type="text" @click="followerMore" :loading="isLoading"
                                            class="more-btn">
                                            更多...
                                        </el-button>
                                    </div>
                                </div>

                                <!-- 使用 v-if 判断当前是否为“粉丝”选项卡 -->
                                <div v-if="activeTab === 'followed'" class="follow_box">
                                    <div class="column_box follow_box_box" id="like-box" v-for="follow in followed"
                                        :key="follow.userId" @click="userDetail(follow.userId)">
                                        <li class="follow_li">
                                            <el-image id="person-img" style="width: 48px; height: 48px;"
                                                :src="follow.avatar"></el-image>
                                            <i v-if="follow.isMutual == 1" class="el-icon-connection"
                                                style="position: relative; left: -14px;"></i>
                                        </li>
                                        <li class="person-intro-detail gradient-text" style="text-align: center;">
                                            <div>{{ follow.nickname }}</div>
                                        </li>
                                    </div>

                                    <div class="more" style="  position: absolute;
                                top: 56%;
                                left: 80%;">
                                        <el-button type="text" @click="followedMore" :loading="isLoading"
                                            class="more-btn">
                                            更多...
                                        </el-button>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="column-container">
                            <ul class="column_box" id="like-box">
                                <li class="column-title">
                                    <span class="at-sort b-b-ece fl">
                                        <a class="at-sort-comment-a c-666 fl">点击排行</a>
                                    </span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </el-container>
            <div class="menu-box" id="menu-box">
                <div class="menu-button" id="menu-button">
                    <div class="line-box">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                </div>
                <div>
                    <ul class="menu-list">
                        <li><a target="_blank" @click="toggleStatus(0)"><span>🧧搜索博客</span></a></li>
                        <li><a target="_blank" @click="toggleStatus(1)"><span>📧发布博客</span></a></li>

                    </ul>
                </div>
            </div>


            <el-dialog :visible.sync="dialogVisible[0]" width="30%">
                <div id="search-nb">
                    <!-- 使用 flexbox 代替浮动布局 -->
                    <span class="search-s" style="display: flex; align-items: center;">
                        <!-- el-input 提供了占位符功能，无需额外的 label -->
                        <el-input class="search-input" placeholder="请输入关键字" v-model="key" @keyup.enter="search">

                            <template #append>
                                <a class="search-icon fl" @click="search" href="javascript:void(0);">
                                    搜索
                                </a>
                            </template>
                        </el-input>
                    </span>
                </div>
            </el-dialog>


            <el-dialog :visible.sync="dialogVisible[1]" width="30%">
                <el-form ref="newBlog" :model="newBlog" label-width="160px" :rules="newBlogRules">
                    <el-form-item label="标题" prop="title" disabled>
                        <el-input v-model="newBlog.title" placeholder="请输入标题"></el-input>
                    </el-form-item>
                    <el-form-item label="类型" prop="typeId">
                        <el-select v-model="newBlog.typeId" placeholder="请选择博客类型">
                            <el-option v-for="tag in tags" :key="tag.blogTypeId" :label="tag.typeName"
                                :value="tag.blogTypeId"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="正文" prop="content">
                        <el-input v-model="newBlog.content" minlength="10" type="textarea"
                            placeholder="请输入正文"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmitNew('newBlog')">发布</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </div>



        <!-- Footer content -->
        <footer class="footer">
            <div class="footer-line">Powered By Cross Fire • © 2024</div>
        </footer>

    </div>

    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.1.4/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="/statics/js/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/statics/js/js/pace.min.js"></script>
    <script src="/statics/js/request.js"></script>
    <script>
        new Vue({
            el: '#app',
            data() {
                return {
                    form: { account: '', password: '', checkPassword: '' },
                    newBlogRules: {
                        title: [
                            { required: true, message: '请输入博客标题', trigger: 'blur' },
                            { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
                        ],
                        content: [
                            { required: true, message: '请输入正文', trigger: 'blur' },
                            { min: 10, max: 20000, message: '正文至少100字', trigger: 'blur' }
                        ],
                        typeId: [
                            { required: true, message: '请选择类型', trigger: 'blur' }
                        ]
                    },
                    personInfo: { name: '', avatar: '/statics/images/18908.png' },
                    newBlog: { title: '', content: '', typeId: null },
                    blogs: [],  // 博客列表
                    pageParam: {  // 分页参数
                        current: 1,
                        size: 5,
                        totalSize: 0
                    },
                    tags: [],  // 博客类型标签
                    activeTab: 'followers',  // 当前活动标签（关注或粉丝）
                    followers: [],  // 关注用户列表
                    followed: [],  // 粉丝用户列表
                    activeIndex: '0',  // 当前分类索引
                    key: '',  // 搜索关键字
                    dialogVisible: [false, false],  // 弹出框状态
                    drawer: false  // 抽屉状态

                };

            },

            created() {
                this.initType();  // 初始化博客类型
                this.initUser();  // 获取用户信息
                this.initFollowers();  // 初始化关注列表
                this.initFolloweds();  // 初始化粉丝列表
                this.load();
                request.post('/followInfo', (res) => {
                    this.follow.userId = res.userId;
                }); // 初次加载博客列表
            },
            methods: {
                // 分页事件处理
                handlePageChange(page) {
                    this.pageParam.current = page;
                    this.load();  // 加载新的页码的博客
                },
                onSubmitNew(form) {
                    this.$refs[form].validate((valid) => {
                        if (valid) {
                            // 添加 author 字段
                            this.newBlog.author = this.personInfo.userId;  // 如果 currentUser 为空，使用 '默认用户'

                            // 设置默认值
                            this.newBlog.readed = 0;

                            // 发送请求
                            request.post("/addBlog", this.newBlog, (res) => {
                                if (res) {
                                    this.$message("发布成功");
                                    this.toggleStatus(1);
                                }
                            });
                        }
                    });
                },

                // 加载博客数据
                load() {
                    const data = {
                        typeId: this.activeIndex === '0' ? undefined : this.activeIndex,
                        key: this.key.trim() || undefined
                    };
                    console.log('Loading blogs with params:', this.pageParam, data);  // 打印分页参数
                    this.initBlog(this.pageParam, data);  // 获取博客数据
                },

                // 从服务器获取博客数据
                async initBlog(params, data) {
                    const url = '/blogs';
                    await request.post(url, data, params, (res) => {
                        if (res && res.list) {
                            this.blogs = res.list;
                            this.pageParam.totalSize = res.totalSize;  // 更新总条目数
                            console.log('Total Size:', res.totalNumber);  // 检查总条目数
                        }
                    });
                },

                // 初始化博客类型标签
                async initType() {
                    await request.post("/types", (res) => { this.tags = res; });
                },

                // 获取用户信息
                async initUser() {
                    await request.post("/personalInfomation", (res) => {
                        this.personInfo = res;
                    });
                },

                // 初始化关注列表
                async initFollowers() {
                    await request.post("/followers", (res) => {
                        this.followers = res;
                    });
                },

                // 初始化粉丝列表
                async initFolloweds() {
                    await request.post("/followeds", (res) => {
                        this.followed = res;
                    });
                },

                // 跳转到更多关注页面
                followerMore() {
                    window.location = "/users/followers";
                },

                // 跳转到更多粉丝页面
                followedMore() {
                    window.location = "/users/followed";
                },

                // 用户详情跳转
                userDetail(id) {
                    console.log(id);
                    window.location = "/personInfo/" + id;
                },

                // 跳转到用户个人信息页
                toPersonInfo() {
                    if (this.personInfo.userId) {
                        window.location = '/personInfo/' + this.personInfo.userId;
                    } else {
                        console.error('User ID not available!');
                    }
                },
                toggleStatus(status) {
                    console.log(status)
                    console.log(!this.dialogVisible)
                    this.$set(this.dialogVisible, status, !this.dialogVisible[status])
                },

                // 搜索功能处理
                search() {
                    this.pageParam.current = 1;  // 重置页码为第一页
                    this.blogs = [];  // 清空当前博客列表
                    this.load();  // 重新加载博客数据
                },

                // 跳转到博客详情页
                blogDetail(id) {
                    window.location = "/blog/" + id;
                }
            },

            filters: {
                // 日期格式化过滤器
                dateFormate(date) {
                    return date.substring(0, 10);  // 格式化日期为 'YYYY-MM-DD'
                }
            }
        });
    </script>

    <script>
        new Vue({
            el: 'nav',
            data() {
                return {
                    personInfo: { userId: '' },
                    key: '',
                };
            },
            created() {
                this.initUser();
            },
            methods: {
                logout() {
                    window.sessionStorage.removeItem('token')
                    //document.cookie = `token=${res.token}; expires=${ data.getDate() -10 }`
                    let date = new Date()
                    date.setDate(date.getDate() - 1)
                    document.cookie = `token=""; expires=${date.toUTCString()}`
                    window.location = "/login"
                },


                async initUser() {
                    await request.post("/personalInfomation", (res) => {
                        this.personInfo = res;
                    });
                },
            }
        });
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuBox = document.querySelector('.menu-box');
            const menuButton = document.querySelector('.menu-button');

            menuButton.addEventListener('click', function () {
                menuBox.classList.toggle('active');
            });

            let isDragging = false;
            let startX, startY, initialX, initialY;

            menuBox.addEventListener('mousedown', (e) => {
                isDragging = true;
                startX = e.clientX;
                startY = e.clientY;
                initialX = menuBox.offsetLeft;
                initialY = menuBox.offsetTop;
                menuBox.style.cursor = 'grabbing';

                const onMouseMove = (e) => {
                    if (isDragging) {
                        const dx = e.clientX - startX;
                        const dy = e.clientY - startY;
                        menuBox.style.left = `${initialX + dx}px`;
                        menuBox.style.top = `${initialY + dy}px`;
                    }
                };

                const onMouseUp = () => {
                    isDragging = false;
                    menuBox.style.cursor = 'grab';
                    document.removeEventListener('mousemove', onMouseMove);
                    document.removeEventListener('mouseup', onMouseUp);
                };

                document.addEventListener('mousemove', onMouseMove);
                document.addEventListener('mouseup', onMouseUp);
            });
        });

    </script>


</body>

</html>